*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(80, 207, 229);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(57, 156, 174);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(39, 109, 121);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}